{
    // Extend the airbnb base .eslintrc
    "extends" : "airbnb-base",

    "env" : {
        "browser" : true,
        "node" : true,
        "mocha" : true
    },

    // Switch the parser to use babel-eslint, otherwise eslint will complain
    // when it starts processing JSX
    "parser" : "babel-eslint",

    // Use the eslint-plugin-react 
    "plugins" : [
        "react"
    ],

    // React specific settings
    "settings" : {
        "react" : {
            // Default pragma to react
            "pragma" : "React" 
        }
    },

    "parserOptions" : {
        // Set version to 6 (es2015) by default
        "ecmaVersion" : 6,
        "sourceType" : "module",
        // Support JSX via the eslint-plugin-react
        "ecmaFeatures" : {
            // Enforce global strict mode
            "impliedStrict" : true,
            "jsx" : true
        }
    },

    "rules" : {
        // Prevent eslint from complaining when a react component is used in JSX
        // but not explicitly used in normal javascript
        "react/jsx-uses-vars" : 1,
        // Prevents React is defined but unused warning when declaring at the top
        // of a JSX file
        "react/jsx-uses-react" : 1,
        // Assumes React is always in scope so we can import React and not have
        // errors or warnings if we don't explicitly use it
        "react/react-in-jsx-scope" : 1,
        //"indent" : [ "warn", 4 ],
        // Class methods that do not reference 'this' will normally trigger this warning
        "class-methods-use-this" : "off",
        // Use ES6 templates instead of string concatenation
        "prefer-template" : "warn",
        // Turn off max length of individual lines
        "max-len" : "off",
        // Enable optional dangling commas only if multi-line.
        "comma-dangle" : "off",
        // Warn if using semicolons.
        // See the following for reasoning:
        // http://blog.izs.me/post/2353458699/an-open-letter-to-javascript-leaders-regarding
        // http://inimino.org/~inimino/blog/javascript_semicolons
        // https://www.youtube.com/watch?v=gsfbh17Ax9I
        "semi" : [ "warn", "never" ]
    }
}
