@import 'elements.scss';
$backgroundcolor: beige;

body {
    background-color: $backgroundcolor;
    flex: 1;
}

h1 {
    background-image: url('../assets/filestage.png');
}

.active {
    background-color: palegoldenrod;
}
