.clickable {
    text-decoration: underline;
    cursor: pointer;
}

.childComponent,
.parentComponent {
    border: 1px solid #999;
}

.parentComponent {
    padding: 20px;
}

.propLabel,
.propValue {
    display: inline-block;
}

.propLabel {
    font-weight: 800;
    width: 100px;
}

.propValue {
    margin-left: 20px;
}

.propsVsStateBox,
.propInputBox {
    display: flex;
}

.propInputBox {
    flex-direction: column;
    flex: 1;
    flex-basis: 200px;
}
